@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "sans-serif";
  /* color: white; */
}
/* a:link {
    text-decoration: none;
  }
  
  /* a:visited {
    text-decoration: navajowhite;
  }
   */
/* a:hover {
    text-decoration: underline;
  } */

/* a:active {
    text-decoration: underline;
  } */

.lgText {
  font: sans-serif;
  color: whitesmoke;
  font-size: 50px;
}

.bg-dark {
  /* border: 2px solid black; */
  background-color: #333333;
}

.medText {
  font-size: 30px;
  font: sans-serif;
  color: whitesmoke;
}
.ligText {
  font-size: 20px;
  color: whitesmoke;
  font: sans-serif;
}

.Itl {
  font-style: italic;
}

.bol {
  font-style: bold;
}

.bg-dark {
  background-color: #333333;
}
.btn {
  /* color: white; */
  display: inline-block;
  font: 'Montserrat';
  padding: 0.5em 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
}

.btn-prim {
  background-color: white;
  border-radius: 100em;
  text-decoration: none;
}
.btn-prim:hover {
  background-color: #dddddd;
}
.btn-seco {
  color: #e63946;

  background: #ffffff;
  border-radius: 16px;
  /* font-family: 'Montserrat', sans-serif;
    font-weight: 700; */

  text-decoration: none;
  border: 2px solid #e63946;
  /* border-radius: 100px; */
  /* border-radius: 1.5em; */
}

.btn-seco:hover {
  background-color: #fcf3f2;
}
.text-red {
  color: red;
}

.text-grey {
  color: #555555;
}
.text-black {
  color: #333333;
  /* text-shadow: 4px 4px 4px #555555; */
}

/* .header1{
        background-color: #263238; */

.search {
  border-radius: 100px;
  text-align: center;
}
/* .pal .a:hover, a:active {
    background-color: wheat; */

/* ##################### HEADER ##################### */
.header {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/lol.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo,
.navbar a {
  color: white;
}

.navbar ul {
  float: right;
  padding-right: 10px;
  margin-top: 25px;
  list-style-type: none;
  right: 0px;
}
.navbar .logo {
  float: left;
  margin: 50px 0px 0px 50px;
  font-size: 50px;
  /* image-resolution: ; */
}

.nav-item {
  display: inline-block;
  /* padding-left: 5px;
    margin: 25px 25px 0px 25px; */
}

.nav-item a {
  /* text-decoration: none; */
  padding-left: 5px;
  margin: 25px 25px 0px 25px;
  margin-top: 50px;
  font-size: 25px;
  text-decoration: none;
}

.pa1 {
  /* border: wheat; */
  text-align: center;
  padding-top: 100px;
  text-emphasis: 50px;
  /* background-color: rgba(0,0,0,0.3), rgba(0,0,0,0.3); */
}
/* ############################ show case ########################## */

.showcase {
  background: #dddddd;
  padding: 150px 150px;
}

.row {
  height: 350px;
  border-radius: 50px;
  /* border: 2px solid red;                   ********this for to have a idea where the box should be*********  */
  background-color: #ffffff;
  /* padding-bottom: 50px; */
  box-shadow: 0px 20px 20px 0px #555555;
}

.row1,
.row2,
.row3 {
  margin-bottom: 75px;
}
.row2 {
  margin-bottom: 75px;
}
.row3 {
  margin-bottom: 75px;
}

.row1 .img-box,
.row2 .text-box,
.row3 .img-box,
.row4 .text-box {
  float: left;
  width: 50%;
}

.row2 .img-box,
.row1 .text-box,
.row4 .img-box,
.row3 .text-box {
  float: right;
  width: 50%;
}

.row .img-box {
  /* border: 6px solid green;   ********this for to have a idea where the box should be********* */
  height: 100%;
  border-radius: 50px;
}

.row .text-box {
  /* border: 2px solid purple;      ********this for to have a idea where the box should be********* */
  padding: 3rem;
}
.row .img-box img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row .text-box .text-grey {
  padding-top: 10px;
  font-size: 20px;
}
/* ####################################   section-2    ########################### */

.feature {
  padding: 10rem;
  /* margin: 20px 50px 80px 75px; */

  /* align: center;  */
}
.box-wrapper {
  /* border-radius: 50px; */
  /* border: 2px solid rebeccapurple; */
  /* align-self: center; */
  box-shadow: 10px 10px 80px 0px rgba(0, 0, 0, 5);
}

.box {
  width: 33.3333333%;
  float: left;
  /* border: 2px solid black; */
  padding: 1rem 2rem 2rem 2rem;
  text-align: center;
  /* font-size: 10px; */
}
.box-wrapper::after {
  content: '';
  display: block;
  clear: both;
}

.box-1,
.box-3 {
  background-color: #555555;
  color: white;
}
.box-2 {
  background-image: linear-gradient(
    90deg,
    rgba(255, 157, 129, 1) 24.3%,
    rgba(255, 78, 78, 1) 78.3%
  );
}

.foote {
  background-color: #555555;
  /* float: center; */
  padding: 2rem;
  color: #fcf3f2;
  text-align: center;
  /* font-size: 30px; */
}
.social-media-links i {
  margin: 2rem;
}

.copy {
  font-size: 30px;
}

/* ################################## About page ################################# */

.about{
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../img/about.jpg);
  background-size: cover;
  background-repeat: no-repeat ;
}

.abt{
  
  color: white;
   padding: 200px 50px 50px 50px;
   /* margin-top: 50px; */
   text-align: center;
}

.who{
  font-size: 6rem;
  /* padding: 50px ; */
}
.hehe{
  font-size: 2rem;
}

.abt-content{
  height: 100vh;
  background-color: #fcf3f2;
  padding: 50px 50px 50px 50px;
} 
.lg-heading{
  /* padding: 50px 50px 50px 50px; */
  font-size: 3rem;
  border-bottom: 6px  solid #e63946;
 }

 .text1 , .text2{
    font-size: 30px;
    font-style: sasans-serif; 
  }

.ticks1  .left-tic ul , .right-tic ul {
  /* border: 2px solid black; */
  padding-top: 50px;
  padding-left: 50px;
  text-align: center;
  
  
  
}

.left-tic li , .right-tic li{
  list-style-type: none;
  padding-top: 10px;
 
}

.left-tic{
  float: left;
  width: 50%;
  font-size:30px ;
  
}

.right-tic{
  float: right;
  width: 50%;
  font-size:30px ;
} 
.fa-check {
  color: #e63946 ;
}


.cmds {
  margin-top: 50px;
  margin-left: 8rem;
  /* border: 6px solid black; */
  padding-left: 50px;
  display: inline-block;
  text-align: center;
  font-size: 50px;
}
.numb{
  color: #e63946;
  font-weight: 700;
}

.item-count{
  float: left;
  /* border: 2px solid rebeccapurple; */
  /* text-align: center; */
  padding-left:50px ;
  padding-right: 50px;
}

/* ##########################  Contact us ########################## */
.contact-us-bg{
  height: 50vh;
  background: url(../img/Contact-Us-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
.contact-us-head{
  font-size: 50px;
  font-family: sans-serif;
}

.contact-us-para{
  font-size: 30px;
}

.contact-us{
  height: 90vh;
  background-color: white;
 padding-left: 50px; 
  margin-top: 10px;
  margin-left: 30px;
  font-family:  sans-serif;
  font-size: 20px;
}
.contact-heading{
  border-bottom: 6px  solid #e63946;
  width: 95%;
}
.contact-left , .contact-right{
  margin-top: 30px;
}
.contact-left{
  border-right: 2px solid #e63946;
  float: left;
  width: 50%;
  font-weight: 400;
  
}

.contact-right{
  /* border: 2px dotted green; */
  float: right;
  width: 50%;
  font-size: 20px;
  text-align: center;  
}
.sun-right{
  font-weight: 400;
}
.mom{
  color: #e63946;
}
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
